<%# <div class="dropdown show">

  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" name='' id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Brew Method
    <span class='caret'></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Filter</a></li>
    <li><a class="dropdown-item" href="#">French Press</a></li>
    <li><a class="dropdown-item" href="#">V60</a></li>
    <li><a class="dropdown-item" href="#">Aeropress</a></li>
  </ul>


</div> %>



<select name="brewType" id="brewType">
  <option>Filter</option>
  <option>French Press</option>
  <option>V60</option>
  <option>Aeropress</option>
</select>
